*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* body{
    background-image: linear-gradient(20deg red,50deg white,30deg blue);
} */

a{
    text-decoration: none;
}

.hero{
    height: 100vh;
    width: 100vw;
    background:#eff4fd;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    cursor: pointer;

}

.logo::first-letter{
    font-size: 40px;
    border: 2px solid blue;
    border-right: transparent;
    padding-left: 5px;
    color: #fd4766;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;

}
nav ul li a{
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
    font-weight: bold;
}

nav ul li a:hover{
    color: #fd4766;
}

nav ul li a::after{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    height: 3px;
    background: #fd4766;
    transition: .3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.btn{
    color: #eff4fd;
    font-size: 16px;
    text-transform: uppercase;
    background: #fd4766;
    padding: 10px 30px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    border: 2px solid #fd4766;
}

.btn:hover{
   background: transparent;
   color: #fd4766;
}

.detail{
    position: absolute;
    top: 35%;
    left: 8%;
}

.detail h1{
    color: #1d1d24;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
}
.detail h1 span{
    color: #fd4766;
}
.detail p{
    color: #1d1d24;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.image img{
    display: block;
    width: 20rem;
    height: 20rem;
    position: relative;
}

.image{
    width: 50%;
    height: 100%;
    /* position:absolute;
    bottom: -0;
    right: -60px;
    border:2px solid black;
    overflow-x:hidden ;
    justify-items: end;
    justify-content: end; */
    bottom: -0;
    margin-left: 520px;
    position: absolute;
    justify-content: right;
    display: flex;
    flex-direction:column;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media (max-width:640px){
    body{
        flex-direction: column;
    }
}